<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sprobotics">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".util.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SPRobotics"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.activity.ErrorPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.SuccessPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.ChildEditActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.BillingActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.CourseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.welcome.WelcomeTwoActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.welcome.WelcomeOneActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>